<div id="<%= dom_id quote %>">
  <p>
  <% if quote.star %>
    <i class="fas fa-star" style="color:#FFD700; float: right; margin-right: -15px"></i>
  <% end %>
  </p>

  <p>
    <strong>Quote:</strong>
    <%= quote.quote %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= quote.quote_type.description %>
  </p>

  <p>
    <strong>Insanity:</strong>
    <%= quote.insanity %>
  </p>
</div>