<p style="color: green"><%= notice %></p>

<h1>Homies</h1>

<p>If you're on this list...I'm so sorry</P>

<div id="homies">
  <% @homies.each do |homie| %>
    <div class="card">
      <%= render homie %>
      <p>
        <%= link_to "Show this homie", homie %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New homie", new_homie_path %>
