<p style="color: green"><%= notice %></p>

<h1>Homies</h1>

<div id="homies">
  <% @homies.each do |homie| %>
    <%= render homie %>
    <p>
      <%= link_to "Show this homie", homie %>
    </p>
  <% end %>
</div>

<%= link_to "New homie", new_homie_path %>
