<p style="color: green"><%= notice %></p>

<h1>Favorite Quotes</h1>

<p>The most eloquent words ever spoken by mortals</p>

<div id="quotes">
  <% @quotes.each do |quote| %>
    <div class="card">
      <%= render quote %>
      <p>
        <%= link_to "Show this quote", [quote.homie, quote] %>
      </p>
    </div>
  <% end %>
</div>