<h1>Editing quote type</h1>

<%= render "form", quote_type: @quote_type %>

<br>

<div>
  <%= link_to "Show this quote type", @quote_type %> |
  <%= link_to "Back to quote types", quote_types_path %>
</div>
